
<main id="main">

    <section id="category_manage" class="category_manage">
        <div class="container">
            <div class="col-md-12">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>分類管理</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="user_manage" class="user_manage">
        <div class="container">
            <div class="col-md-12">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>使用者管理</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="poster_manage" class="poster_manage">
        <div class="container">
            <div class="col-md-12">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>文章管理</h2>
                </div>
            </div>
        </div>
    </section>
</main>