
<main id="main">

    <section id="search-result" class="search-result">
        <div class="container">
            <div class="col-md-12">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>搜尋結果</h2>
                </div>
                <div class="d-md-flex post-entry-2 small-img">
                    <a href="single-post.html" class="me-4 thumbnail">
                        <img src="~/images/post-landscape-6.jpg" alt="" class="img-fluid">
                    </a>
                    <div>
                        <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                        <h3><a href="single-post.html">What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat exercitationem magni voluptates dolore. Tenetur fugiat voluptates quas.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>